.secondRow {
    display: flex;
    flex-direction: row;
}

.barChartContainer {
    width: 75%;
}

.expiringMedicationContainer {
    width: 25%;
}

.third-row {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}

.main {
    display: flex;
    flex-direction: column;
}

.pie {
    width: 50%;
}

.title {
    margin-left: 25px;
}